
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    font-family: 'Lato', sans-serif;
}
.navbar-toggler {
    border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}
.toggler-icon {
    width: 30px;
    height: 3.455px;
    background-color: black;
    display: block;
    transition: all 0.2s;
}
  
.middle-bar{
    margin: 5px auto;
}
.navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler.collapsed .top-bar{
    transform: rotate(0) ;
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0) ;
}
.navbar-toggler.collapsed .toggler-icon{
    background-color: #777777;
}
#subtext {
    font-family: 'Lato', sans-serif;
}
#smallmemoji {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 65%;
    background-color: transparent;
}
#scrolldownsmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: -8%;
    max-width: 40%;
    background-color: transparent;
    background-size: contain;
}
#homepage {
    object-fit: contain;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#mediummemoji {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 45%;
    background-color: transparent;
}
#scrolldownmedium {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: -8%;
    max-width: 40%;
    background-color: transparent;
    background-size: contain;
}
#largememoji {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 30%;
    background-color: transparent;
}
#scrolldownlarge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: -6%;
    max-width: 20%;
    background-color: transparent;
    background-size: contain;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

